
table {
    background-color: black;
    padding: auto;
    margin: auto;
    text-align: center;
}

.pantalla{
    background-color: blanchedalmond;
    text-align: center;
    width: 100px;
}

button {
    background-color: orange;
    width: 100px;
    height: 100px;

}
